<section>
  <h1>Play by Examples</h1>
  <ol>
	<li><a href="{{ root_url }}/examples/introduction/">The first example</a></li>
	<li><a href="{{ root_url }}/examples/model/">Database Access</a></li>
	<li><a href="{{ root_url }}/examples/modules/">Subprojects, Plugins and Modules</a></li>
  <!--
	<li><a href="{{ root_url }}/controller.html">HTTP Controllers</a></li>
	<li><a href="{{ root_url }}/view.html">Template Programming</a></li>
  -->
  <!--
	<li><a href="{{ root_url }}/forms.html">Form Posting</a></li>
	<li><a href="{{ root_url }}/apis.html">JSON and XML</a></li>
	<li><a href="{{ root_url }}/file.html">File Upload</a></li>
	<li><a href="{{ root_url }}/reactive.html">Reactive Programming</a></li>
	<li><a href="{{ root_url }}/akka.html">Akka</a></li>
	<li><a href="{{ root_url }}/global.html">Startup and Filters</a></li>
	<li><a href="{{ root_url }}/testing.html">Testing</a></li>
	<li><a href="{{ root_url }}/security.html">Security</a></li>
  -->
  </ol>
</section>

