
body {
    font-family: 'Roboto', 'arial';
}


h1 {
    color: #00A4EE;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2, h3 {
    color: #00A4EE;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 130%;
}

a {
    color: #00A4EE;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol, ul {
    list-style: disc;
    list-style-position: inside;
}

code {
    display: inline-block;
    background-color: darkslategrey;
    border-radius: 3px;
    color: cornsilk;
    padding: 0px 10px;
    font-size: 80%;
}

.img-inline {
    float: left;
    box-shadow: none;
}

img {
    box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)
}