---
---

@import "{{ site.theme }}";

body {
    font-size: 18px;
    color: #666666;
    background: #ffffff;
    font-family: 'Copse', ;
    line-height: 25px;
}

h2, h3, h4 {
    color: black;
}

header {
    background: #ffffff;
    box-shadow: 0px 0px 14px 0px  #bbbbbb ;
}

header h1, header p {
    color: #666666;
    outline: none;
    text-shadow: none;
}

#banner {
    background: #00a4dd;
    border: none;
    box-shadow: none;
}

#banner ul {
    margin-top: 14px;
    margin: 190px auto 20px;
}

#banner ul li a {
    color: #ffffff;
}

#banner .fork {
    background-color: transparent;
}

#banner .fork a {
    color: #ffffff;
    padding-right: 10px;
}

.logo {
    float: right;
    height: 100%;
    margin-right: -10px;
}

section {
    box-shadow: 0px 0px 14px 0px  #bbbbbb ;
    border: none;
}

footer {
    font-size: 12px;
    line-height: 20px;
}